@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

:root {
  --intro-border-color: rgba(0, 0, 0, .4);
  --intro-border-width: 2px;
  --questions-border-color: #FFCD28;
  --questions-question-box-width: 25px;
  --questions-exercises-opacity: .8;
  --summary-exercise-color: #191970;
}

.math-font {
  font-family: 'STIX Two Text', serif;
}

.letter {
  font-size: 22px;
}

body {
  margin: 0;
  background-color: #FAF9F6;
  line-height: 1.5;
  letter-spacing: .5px;
}

main {
  width: 35%;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100%;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

header {
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
}

.intro {
  text-align: center;
  width: 45%;
  margin: 50px auto;
  border-top: var(--intro-border-width) dashed var(--intro-border-color);
  border-bottom: var(--intro-border-width) dashed var(--intro-border-color);
  letter-spacing: 1px;
  font-size: 17px;
}

.rule {
  border: 2px #DC143C solid;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.warning-rule {
  padding-left: 20px;
  border-left: 10px solid #F5F500;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.warning-rule p {
  padding: 5px 0;
}

.footnote {
  font-size: 16px;
}

.questions {
  display: flex;
  margin-top: 40px;
}

.questions-question {
  width: var(--questions-question-box-width);
  height: calc(var(--questions-question-box-width) + 20px);
  background-color: var(--questions-border-color);
  opacity: var(--questions-exercises-opacity);
}

.questions-question::before {
  font-family: 'STIX Two Text', serif;
  content: '?';
  color: #007600;
  font-size: 40px;
}

.questions-left-border {
  border-left: 5px solid var(--questions-border-color);
  height: 120px;
  opacity: var(--questions-exercises-opacity);
}

.questions-content {
  width: calc(100% - var(--questions-question-box-width));
  border-top: 5px solid var(--questions-border-color);
  border-image: linear-gradient(to right top, rgba(255, 205, 40, 1) 0%, rgba(255, 205, 40, 1) 47%, rgba(255, 255, 255, 1) 94%) 1;
  opacity: var(--questions-exercises-opacity);
}

.questions-content ol li {
  font-weight: bold;
}

.questions-content ol li > * {
  font-weight: normal;
  padding-left: 7px;
}

details p {
  color: #8B0000;
  margin: 8px 0;
}

details div {
  margin: 8px 0;
  color: #8B0000;
}

summary {
  cursor: pointer;
  color: var(--summary-exercise-color);
}

.exercises-header {
  margin-top: 40px;
  padding: 3px;
  border-bottom: 2px solid var(--questions-border-color);
  border-image: linear-gradient(to right bottom, var(--summary-exercise-color) 0%, var(--summary-exercise-color) 47%, rgba(255, 255, 255, 1) 94%) 1;
}

.exercises-header::before {
  content: 'Упражнения';
}

.exercises-content ul {
  list-style-type: none;
}

.exercises-content ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  opacity: var(--questions-exercises-opacity);
}

.exercises-content ul li span.title {
  font-weight: bold;
}

.exercises-content ul li sup.task {
  font-family: 'STIX Two Text', serif;
  font-size: 14px;
}

.exercises-content ul li {
  font-weight: normal;
}

.exercises-content ul li details {
  font-weight: normal;
  margin-top: 10px;
  margin-left: 25px;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: .001em;
  text-align: center;
}

.frac > span {
  display: block;
  padding: .1em;
}

.frac span.bottom {
  border-top: thin solid black;
}

.frac span.symbol {
  display: none;
}

.error {
  margin-top: 30px;
}

@media (min-width: 1601px) and (max-width: 1800px) {
  main {
    width: 55%;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  main {
    width: 60%;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  main {
    width: 65%;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  main {
    width: 70%;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  main {
    width: 80%;
  }
}

@media (max-device-width: 800px) {
  :root {
    --intro-border-color: rgba(0, 0, 0, .8);
    --intro-border-width: .2rem;
    --questions-question-box-width: 2.5rem;
  }

  html {
    -webkit-text-size-adjust: none;
  }

  .letter {
    font-size: 2.8rem;
  }

  body {
    line-height: 1.4;
  }

  main {
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 2.6rem;
  }

  header {
    padding-top: 2rem;
    font-size: 3.8rem;
  }

  .intro {
    font-size: 2.1rem;
    width: 55%;
    margin: 30px auto;
  }

  .rule {
    border-width: .2rem;
    border-radius: 10px;
    padding: 0 1.5rem;
  }

  .warning-rule {
    padding-left: 15px;
    border-left-width: 1.2rem;
  }

  .footnote {
    font-size: 2.1rem;
  }

  .questions-question::before {
    font-size: 3.5rem;
  }

  .questions-left-border {
    height: 12rem;
  }

  .questions-content {
    border-image: none;
  }

  .questions-content ol li details {
    padding: 0;
  }

  .exercises-content ul li details {
    margin-top: 2rem;
  }

  .exercises-content ul li sup.task {
    font-size: 2rem;
  }

  .exercises-header {
    padding: 10px;
    border-width: .3rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  .exercises-content ul {
    padding: 0;
  }

  .questions-content ol {
    padding-left: 5rem;
  }
}

@media (max-width: 800px) {
  main {
    width: 95%;
    padding: 10px;
    font-size: 16px;
  }

  header {
    font-size: 28px;
  }

  .intro {
    font-size: 15px;
    width: 40%;
  }

  .footnote {
    font-size: 14px;
  }

  .questions-content ol {
    padding-left: 30px;
  }

  .exercises-content ul {
    margin: 0;
    padding: 10px;
    padding-top: 0;
  }
}
