@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html       { -webkit-text-size-adjust: none; }
html:hover { cursor: default; }

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button        { cursor: pointer; }
input:focus   { outline: none; }
::placeholder { color: var(--input-color); }

button, input, p {
  -webkit-tap-highlight-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(var(--tap-color), .5);
}

li::marker    { color: var(--theme-hover-color); }
ul li::marker { font-size: .7em; }
ol li::marker { font-weight: bold; }

::-webkit-scrollbar             { width: 9px; }
::-webkit-scrollbar-track       { background: var(--scrollbar-track); }
::-webkit-scrollbar-thumb       { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
