@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Segoe Variable';
  src: url('SegoeVariable.ttf');
}

@font-face {
  font-family: MathIcons;
  src: url('mathfont.woff');
}

@font-face {
  font-family: MathIcons2;
  src: url('mathfont2.woff');
}

[class^="icon-"] {
  font-family: MathIcons;
  font-style: normal;
}

[class^="new-icon-"] {
  font-family: MathIcons2;
  font-style: normal;
}

.icon-copyright:before          { content: '\e900'; }
.icon-mobile:before             { content: '\e901'; }
.icon-desktop:before            { content: '\e902'; }
.icon-search:before             { content: '\e903'; }
.icon-sun:before                { content: '\e904'; }
.icon-moon:before               { content: '\e905'; }
.icon-angle-down:before         { content: '\e906'; }
.icon-bars:before               { content: '\e907'; }
.icon-levels:before             { content: '\e908'; }
.icon-forms:before              { content: '\e909'; }
.icon-cross:before              { content: '\e910'; }
.icon-themes:before             { content: '\e90a'; }
.icon-user:before               { content: '\e90b'; }
.icon-palette:before            { content: '\e90c'; }
.icon-calculator:before         { content: '\e90d'; }
.icon-circle-arrow-left:before  { content: '\e90e'; }
.icon-circle-arrow-right:before { content: '\e90f'; }
.icon-globe:before              { content: '\e911'; }
.icon-question:before           { content: '\e912'; }
.icon-gear:before               { content: '\e913'; }
.icon-circle-cross:before       { content: '\e914'; }
.icon-brush:before              { content: '\e915'; }
.new-icon-light:before          { content: '\f900'; }
.new-icon-dark:before           { content: '\f901'; }
.new-icon-globe:before          { content: '\f903'; }
.new-icon-devices:before            { content: '\f904'; }

* {
  margin: 0;
  padding: 0;
}

html       { -webkit-text-size-adjust: none; }
html:hover { cursor: default; }

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button        { cursor: pointer; }
input:focus   { outline: none; }
::placeholder { color: var(--input-color); }

button, input, p {
  -webkit-tap-highlight-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(var(--tap-color), .5);
}

li::marker    { color: var(--theme-hover-color); }
ul li::marker { font-size: .7em; }
ol li::marker { font-weight: bold; }

::-webkit-scrollbar { width: 8px; background: rgb(var(--background-gradient-color)); }

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover { background: #555; }
