@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --button-back: '\2190  0 класс';
  --button-current: '';
  --button-forward: '0 класс \2192';
  --scrollbar-length: 10px;
  --search-header: '';
  --shadow-color: rgba(0, 0, 0, 0.07);
  --input-box-shadow:
    var(--shadow-color) 0px 1px 2px,
    var(--shadow-color) 0px 2px 4px,
    var(--shadow-color) 0px 4px 8px,
    var(--shadow-color) 0px 8px 16px,
    var(--shadow-color) 0px 16px 32px,
    var(--shadow-color) 0px 32px 64px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: color .65s, background-color .35s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back, #forward {
  visibility: hidden;
  color: var(--text-color);
  background-color: var(--back-forward-button-background);
  transition: background-color .2s, color .4s, box-shadow .2s, transform .2s;
}

#back {
  margin-right: 15px;
}

#forward {
  margin-left: 15px;
}

#back, #current, #forward {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
}

#current {
  font-size: 18px;
  font-weight: bold;
}

#back::before {
  content: var(--button-back);
}

#current::before {
  content: var(--button-current);
}

#forward::before {
  content: var(--button-forward);
}

button {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 7px;
  border: 0;
  box-shadow: var(--button-first-box-shadow) 0px 1px 3px 0px, var(--button-second-box-shadow) 0px 0px 0px 1px;
  transition: box-shadow .2s, transform .2s;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  box-shadow: var(--button-hover-first-box-shadow) 0px 3px 6px, var(--button-hover-second-box-shadow) 0px 3px 6px;
  transform: translateY(3px);
}

#current {
  margin: 0 5px;
  padding: 10px 27px;
  background-color: #707070;
  color: #F5F5F5;
  border-radius: 10px;
}

input {
  font-family: 'Segoe UI', 'FontAwesome';
  background-color: var(--input-background-color);
  color: var(--input-color);
  width: 15rem;
  letter-spacing: .6px;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: .5rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 12px;
  padding: 8px 15px;
  transition: all .2s, background-color .5s;
  -webkit-tap-highlight-color: transparent;
}

i {
  position: absolute;
  top: 1%;
  left: .5%;
}

::placeholder {
  color: var(--input-color);
}

input:hover {
  box-shadow: var(--input-box-shadow);
}

input:focus {
  box-shadow: var(--input-box-shadow);
  outline: none;
}

input#mobile {
  display: none;
}

main {
  display: flex;
}

.algebra {
  margin-left: 4%;
  width: 60%;
}

.geometry {
  width: fit-content;
  padding-left: 5%;
}

.algebra, .geometry, .search-result {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 34px;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif;
}

.search-result {
  width: 21%;
  margin: auto;
  font-size: 26px;
}

.themes {
  text-align: left;
  margin-top: 50px;
  font-size: 22px;
  font-family: 'Nanum Gothic', sans-serif;
}

.algebra .themes {
  display: flex;
}

.algebra p, .geometry p, .search-result p {
  transform: translateX(15px);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  width: fit-content;
  transition: padding .2s;
}

.search-result p {
  transform: none;
  padding: 5px;
}

.algebra p:hover, .geometry p:hover, .search-result p:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: var(--theme-hover-color);
  font-weight: bold;
  padding: 0 25px;
}

.search-result p:hover {
  padding: 5px;
}

.integers p:first-child, .fractionals p:first-child {
  margin-top: 30px;
}

.algebra::before {
  padding-left: 32.5%;
  content: 'алгебра';
}

.geometry::before {
  content: 'геометрия';
}

.search-result::before {
  content: var(--search-header);
}

.geometry p:first-child {
  margin-top: 30px;
}

.integers, .fractionals {
  width: 50%;
}

.integers {
  margin-left: 20px;
}

.integers::before, .fractionals::before, .intro::before {
  border-top: 4px solid var(--theme-border-color);
  padding: 5px;
  transition: border-color 1s;
}

.integers::before {
  content: 'натуральные числа';
}

.fractionals::before {
  content: 'дробные числа';
}

.intro::before {
  content: 'введение';
}

p::before {
  content: '\2022';
  color: var(--theme-hover-color);
  font-weight: bold;
  display: inline-block;
  width: 1.2rem;
  margin-left: -1.2rem;
  transition: color 1s;
}

.search-result p::before {
  font-size: 15px;
  width: 2rem;
  margin-left: -2rem;
  counter-increment: section;        
  content: counter(section); 
}

@media (min-width: 801px) and (max-width: 1600px) {
  .algebra {
    margin-left: 0;
  }

  .search-result {
    width: 30%;
  }

  p::before {
    width: 1rem;
    margin-left: -1rem;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  header {
    margin-right: 5%;
  }

  .algebra {
    width: 59.5%;
  }

  .algebra::before {
    padding-left: 36%;
  }

  .fractionals {
    padding-left: 30px;
    width: 45%;
  }

  .geometry {
    width: 35%;
    padding-right: 20px;
    justify-self: flex-end;
  }

  .search-result {
    width: 45%;
  }
}

@media (min-width: 801px) and (max-width: 1150px) {
  main {
    flex-direction: column;
  }

  header {
    margin-right: 15%;
  }

  .algebra, .geometry, .search-result {
    width: 95%;
  }

  .fractionals {
    margin-left: 40px;
    width: 45%;
  }

  .search-result p {
    padding-left: 3rem;
  }

  .search-result p:hover {
    padding-left: 3rem;
  }

  .geometry {
    padding-left: 2%;
  }
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  main, .algebra .themes {
    flex-direction: column;
  }

  .algebra, .integers, .fractionals, .geometry {
    margin: 0;
    margin-top: 4rem;
    width: 100%;
  }

  .algebra p, .geometry p {
    padding-left: 3rem;
    transition: none;
    transform: none;
  }

  .algebra p:hover, .geometry p:hover {
    padding-left: 3rem;
    transition: none;
  }

  .geometry p {
    margin-left: 0;
  }

  .algebra {
    margin-top: 20px;
  }

  .algebra, .geometry {
    padding-left: 5px;
    width: 95%;
  }
  
  .algebra::before {
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .algebra, .integers, .fractionals, .geometry, .search-result {
    width: 95%;
  }

  .algebra .themes {
    margin-top: 0;
  }

  .algebra p, .geometry p {
    padding-left: 1.5rem;
  }

  .algebra p:hover, .geometry p:hover {
    padding-left: 1.5rem;
  }

  .search-result::before {
    padding-left: 3rem;
  }

  .search-result p {
    padding-left: 3rem;
    transition: none;
    transform: none;
  }

  .search-result p:hover {
    margin-left: 2.69rem;
  }

  .search-result {
    padding-left: 5px;
  }

  p::before {
    width: 1rem;
    margin-left: -1rem;
  }

  .search-result p::before {
    width: 2rem;
  }
}

@media (max-device-width: 800px) {
  body {
    margin-bottom: 5rem;
  }

  header {
    margin-top: 1.5rem;
    margin-right: 0;
  }

  input {
    width: 25rem;
    margin-bottom: 1.5rem;
    padding: 1rem 2.5rem;
    font-size: 2.7rem;
    transition: none;
  }

  input#desktop {
    display: none;
  }

  input#mobile {
    display: flex;
    border: .1rem solid #000;
  }

  i {
    top: 1%;
    left: 1.5%;
  }

  button {
    padding: 1rem 1.8rem;
    transition: none;
  }

  button:hover {
    box-shadow: none;
    transform: none;
  }

  #current {
    padding: 1.2rem 2.3rem;
  }

  #back::before, #forward::before {
    font-size: 2.7rem;
  }

  #current::before {
    font-size: 2.9rem;
  }

  .integers, .fractionals, .intro {
    padding: 2rem;
    margin-top: 0;
  }

  .integers p:first-child, .fractionals p:first-child, .intro p:first-child {
    padding-top: 2rem;
  }

  .algebra, .geometry, .search-result {
    padding-top: 2rem;
    font-size: 4.4rem;
    width: 90%;
  }

  .search-result {
    font-size: 3.8rem;
  }

  .themes {
    font-size: 3.2rem;
  }

  .algebra p, .geometry p, .search-result p {
    margin-top: 1rem;
    padding: 0;
    font-size: 2.7rem;
  }

  .search-result p, .search-result p:hover {
    padding: .4rem;
  }

  .algebra::before, .geometry::before {
    padding-left: 2rem;
  }

  .algebra p:hover, .geometry p:hover, .search-result p:hover {
    box-shadow: none;
    padding-left: 0;
    font-weight: normal;
    background-color: #fff;
    text-decoration: none;
  }

  .integers::before, .fractionals::before, .intro::before {
    border-top: 0;
    border-bottom: .4rem solid var(--theme-border-color);
    padding: 5px;
    line-height: 2.5;
  }

  p:first-child {
    padding-top: 0 !important;
  }

  .search-result p:first-child {
    margin-top: 3.5rem !important;
  }

  .search-result p {
    margin-left: 4.5rem;
    padding: .3rem;
  }
  
  .search-result p:hover {
    padding: .3rem;
  }

  p, .intro p {
    margin: 0;
    margin-top: 1.2rem !important;
    margin-left: 2rem;
    line-height: 1.4;
  }

  p::before, .intro p::before {
    width: 3rem;
    margin-left: -3rem;
  }

  .search-result p::before {
    font-size: 2.5rem;
    width: 5rem;
    margin-left: -5rem;
  }
}
