@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

main {
  height: 100vh;
  display: grid;
  grid-template: 13% 6% 60% 10% / 1.5fr repeat(12, 1fr) 1.5fr;
  grid-template-areas:
    ". theme . . . logo logo logo logo . . . user ."
    ". . . . . . search search . . . . . ."
    ". forms forms forms forms themes themes themes themes levels levels levels levels ."
    ". . . . . . copyright copyright . . . . . .";
  row-gap: 1.8rem;
}

.theme     { grid-area: theme; }
.logo      { grid-area: logo; }
.user      { grid-area: user; }
.search    { grid-area: search; }
.forms     { grid-area: forms; }
.themes    { grid-area: themes; }
.levels    { grid-area: levels; }
.copyright { grid-area: copyright; }

.logo, .search, .copyright {
  justify-self: center;
}

* {
  user-select: none;
}

body {
  transition: color .3s, background-color .3s;
}

input {
  font-family: 'Raleway', MathIcons;
  background: var(--input-background-color);
  font-size: 1.3rem;
  color: var(--input-color);
  width: 15rem;
  box-shadow: rgba(0, 0, 128, 0.25) 0px 1px 3px, rgba(0, 0, 128, 0.35) 0px 1px 2px;
  border-radius: 1rem;
  padding: .6rem 1rem;
  transition: box-shadow .2s;
  opacity: .9;
  letter-spacing: .05rem;
  word-spacing: .7rem;
  text-align: center;
}

::placeholder {
  text-align: var(--placeholder-align);
  color: var(--placeholder-color);
}

input:hover, input:focus {
  box-shadow: var(--logo-color) 0 0 0 2px;
  opacity: .8;
}

.user div {
  align-items: center;
  gap: 1rem;
}

i {
  font-size: 1.3rem;
  width: 1.5rem;
  text-align: center;
}

.logo i {
  font-size: 3rem;
}

li {
  gap: .8rem;
  padding-left: 0;
  letter-spacing: .09rem;
}

ul {
  padding: .7rem 0;
  gap: .3rem;
  list-style-type: none;
}

.theme, .user {
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .05rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  word-spacing: .5rem;
  width: fit-content;
  padding-bottom: .2rem;
  opacity: .85;
  transition: color .1s, opacity .1s;
}

.theme .dropdown-button:hover, .user .dropdown-button:hover {
  cursor: pointer;
  color: var(--logo-color);
  opacity: .7;
}

.user {
  justify-self: end;
}

.logo {
  font-family: 'Raleway';
  font-size: 4rem;
  color: var(--logo-color);
  opacity: .6;
  word-spacing: .5rem;
  text-align: center;
}

.logo div {
  font-size: .9rem;
  word-spacing: .35rem;
  letter-spacing: .15rem;
}

.forms i, .themes i, .levels i {
  font-size: 4rem;
  opacity: .8;
}

.category {
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.category i {
  font-size: 1.7rem;
  align-self: center;
  display: none;
}

.forms div div, .themes div div, .levels div div {
  margin-top: 1.5rem;
}

.forms, .themes, .levels {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  transition: background .3s, color .2s, font-weight .2s, border-radius .2s;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30%;
  gap: 1rem;
  cursor: pointer;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  letter-spacing: .05rem;
  opacity: .85;
}

.category span {
  font-size: 2.5rem;
}

.forms, .levels {
  box-shadow: rgba(128, 0, 128, .1) 0px 1px 3px 0px, rgba(128, 0, 128, .1) 0px 0px 0px 1px;
}

.themes {
  box-shadow: rgba(78, 36, 36, 0.1) 0px 4px 12px;
}

.forms:hover, .themes:hover, .levels:hover {
  opacity: .9;
  color: #f8f8f8;
  border-bottom: .25rem #f8f8f8 dotted;
  background: #202020;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  font-weight: bold;
}

.forms div, .themes div, .levels div {
  font-size: 1.2rem;
  transition: transform .2s;
}

.copyright {
  font-family: 'Roboto Condensed';
  letter-spacing: .1rem;
  font-size: .85rem;
  color: var(--logo-color);
  opacity: .6;
  display: flex;
  align-items: end;
  gap: .3rem;
}

.copyright i {
  font-size: 1rem;
  opacity: .9;
}

.copyright span {
  transition: opacity .1s;
}

.copyright span:hover {
  opacity: .7;
}

.dropdown {
  position: fixed;
  margin-top: .5rem;
  display: none;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown li {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  width: fit-content;
  letter-spacing: .15rem;
}

.dropdown li:hover {
  color: var(--logo-color);
  cursor: pointer;
}

.dropdown i {
  width: 2rem;
  justify-self: center;
}

.dropdown span {
  align-self: center;
}

@media (max-width: 600px) {
  main {
    grid-template: repeat(6, auto) / .5fr repeat(12, 1fr) .5fr;
    grid-template-areas:
      "theme theme theme . logo logo logo logo logo logo . user user user"
      ". . . . . . search search . . . . . ."
      ". . forms forms forms forms forms forms forms forms forms forms . ."
      ". . themes themes themes themes themes themes themes themes themes themes . ."
      ". . levels levels levels levels levels levels levels levels levels levels . ."
      ". . . . copyright copyright copyright copyright copyright copyright . . . .";
    row-gap: 1.3rem;
    margin-top: .8rem;
  }

  .logo {
    font-size: 2rem;
    align-self: end;
    font-weight: bold;
  }

  .logo div {
    display: none;
  }

  .logo i {
    font-size: 2rem;
  }

  .theme, .user {
    margin: 0;
    padding: 0;
    align-self: end;
    justify-self: center;
  }

  .dropdown-button span {
    display: none;
  }

  i {
    font-size: 1.9rem;
  }

  .forms, .themes, .levels {
    border-radius: 1rem;
    padding: 1.5rem 0;
    opacity: .9;
    transition: background .3s, color .2s, font-weight .2s;
  }

  .category span {
    font-size: 2rem;
  }

  .forms:hover, .themes:hover, .levels:hover {
    background: unset;
    color: unset;
    font-weight: unset;
    opacity: .9;

    border-radius: 1rem;
    border-bottom: none;
  }

  .forms i, .themes i, .levels i {
    font-size: 3rem;
  }

  .category {
    display: flex;
    justify-content: center;
    gap: .7rem;
  }

  .category i {
    font-size: 1.6rem;
    align-self: center;
    display: none;
  }

  .forms div, .themes div, .levels div {
    font-size: 1rem;
  }

  .forms div div, .themes div div, .levels div div {
    margin-top: 1rem;
  }

  .themes {
    box-shadow: rgba(128, 0, 128, .1) 0px 1px 3px 0px, rgba(128, 0, 128, .1) 0px 0px 0px 1px;
  }

  input {
    font-size: 1.1rem;
    width: 10rem;
    padding: .5rem .8rem;
    border: .15rem solid var(--logo-color);
    word-spacing: .2rem;
  }

  input:hover, input:focus {
    box-shadow: none;
  }

  .copyright {
    padding-bottom: .8rem;
  }

  .category-icon {
    width: fit-content;
    align-self: center;
  }
}
