body { transition: color .3s, background-color .3s; }

main {
  display: grid;
  grid-template-rows: 3.5em repeat(3, auto);
  grid-template-columns: .4fr repeat(24, 1fr) .4fr;
  row-gap: 1.2em;
  grid-template-areas: var(--main-layout);
}

.theme     { grid-area: t; }
.search    { grid-area: s; }
.user      { grid-area: u; }
.forms     { grid-area: f; }
.algebra   { grid-area: a; }
.geometry  { grid-area: g; }
.algebra1  { grid-area: a1; }
.algebra2  { grid-area: a2; }
.geometry1 { grid-area: g1; }
.geometry2 { grid-area: g2; }

aside {
  grid-area: 3 / 11 / 3 / 19;
  width: 80%;
}

p {
  margin: 1.1em 0;
  border-bottom: .15em solid var(--theme-hover-color);
}

.search, .forms, .algebra, aside      { justify-self: center; }
.search, .theme, .user                { align-self: end; }
.user                                 { justify-self: end; }
i.fa                                  { font-size: 2em; }
.forms                                { gap: .5em; }
i.fa, button, input                   { display: none; }
section, ul, ol, .forms               { display: flex; }
section, ul, ol                       { flex-direction: column; }
ol                                    { margin-left: 1.5em; }
p, li, .theme-title, i                { width: fit-content; }
p, li, button, .theme-title           { font-family: 'Roboto Mono', monospace; }
p, .theme-title                       { font-size: 1.4em; }
button, input                         { font-size: 1em; }
p, #current, li:hover, .theme-title   { font-weight: bold; }
li, .algebra, .geometry, .theme-title { text-transform: uppercase; }
li, .theme-title                      { letter-spacing: .13em; }
input, .algebra, .geometry            { letter-spacing: .04em; }

ul, ol {
  padding-left: .7em;
  gap: .5em;
}

button {
  padding: .5em .75em;
  align-self: center;
  border-radius: .6em;
  box-shadow: var(--button-first-box-shadow) 0px 1px 3px 0px, var(--button-second-box-shadow) 0px 0px 0px 1px;
  background: var(--back-forward-button-background);
  color: var(--text-color);
  transition: box-shadow .2s, transform .2s;
}

#current {
  background: #707070;
  color: #f5f5f5;
  font-size: 1.1em;
  padding: .6em 1.2em;
}

button:hover {
  box-shadow: var(--button-hover-first-box-shadow) 0px 3px 6px, var(--button-hover-second-box-shadow) 0px 3px 6px;
  transform: translateY(.22em);
}

input {
  font-family: 'Segoe UI', 'FontAwesome';
  background: var(--input-background-color);
  color: var(--input-color);
  width: 12em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: .9em;
  padding: .5em 1em;
  transition: box-shadow .2s;
}

input:hover, input:focus {
  box-shadow: var(--theme-hover-color) 0 0 0 3px;
  opacity: .85;
}

.algebra, .geometry {
  font-size: 2.2em;
  font-family: 'Rubik', sans-serif;
  margin-top: .8em;
}

.theme-title {
  border-top: .2em solid var(--theme-border-color);
  margin: .8em 0 1.5em 0;
}

i {
  cursor: pointer;
  transition: color .1s;
}

aside .theme-title { margin-bottom: .7em; }
li                 { padding: .3em; }
li:hover           { text-decoration: underline; }
li:hover, i:hover  { color: var(--theme-hover-color); }

@media (max-width: 1200px) {
  main {
    grid-template-rows: 3.5em repeat(5, auto);
    grid-template-columns: .3fr 1fr repeat(2, 2fr) repeat(2, .25fr) repeat(2, 2fr) 1fr .3fr;
    grid-template-areas: var(--large-layout);
  }

  aside {
    grid-area: 3 / 4 / 3 / 9;
    width: 100%;
  }

  .theme-title { font-size: 1.3em; }
}

@media (max-width: 800px) {
  main {
    grid-template-rows: 3.5em repeat(6, auto);
    grid-template-areas: var(--medium-layout);
  }

  .algebra, .forms, .search { justify-self: start; }
  aside                     { grid-area: 3 / 3 / 3 / 8; }
  button                    { font-size: .9em; }
  button:hover              { transform: none; }
  #current                  { font-size: 1em; }
  .forms                    { gap: .4em; }
}

@media (max-width: 600px) {
  main {
    grid-template-columns: .5fr 1.5fr repeat(2, 2fr) repeat(2, .25fr) repeat(2, 2fr) 1.5fr .5fr;
    grid-template-areas: var(--small-layout);
    row-gap: 1em;
  }

  button { padding: .65em 1em; }
  button:hover, input:hover, input:focus { box-shadow: none; }
  #current                               { font-size: 1em; }
  .search, .forms                        { justify-self: center; }
  .user                                  { justify-self: end; }
  ul, ol                                 { gap: .3em; }
  li:hover                               { font-weight: normal; }
  input                                  { border: .15em solid var(--theme-hover-color); }
  .search, .theme, .user                 { align-self: center; }

  aside {
    grid-area: 3 / 2 / 3 / 10;
    width: 90%;
  }

  aside .theme-title {
    font-size: 1.2em;
    letter-spacing: .05em;
  }

  ol {
    margin-left: .8em;
    padding-left: 2em;
  }
}
