:root {
  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;

  --background-opacity: .1;
  --intro-animation-space: .7rem;
  --intro-main-color: 242, 221, 70;

  --header-dropdown-shadow: rgba(60, 64, 67, .2) 0px 1px 2px 0px, rgba(60, 64, 67, .1) 0px 1px 3px 1px;
  --header-panels-width: 5.7rem;
  --header-padding-vertical: .3rem;
  --header-padding-horizontal: .6rem;

  --yamath-title-font-size: 6.5rem;
  --yamath-title-letter-spacing: .15rem;
  --yamath-description-font-size: 2rem;
  --yamath-description-letter-spacing: .19rem;
  --yamath-footer-letter-spacing: .07rem;
  --section-span-letter-spacing: .2rem;

  --logo-font-size: 1.2rem;
  --logo-letter-spacing: .03rem;
  --logo-gap: .3rem;

  --user-panel-icon-size: 1.7rem;
  --user-panel-gap: .4rem;

  --signin-button-padding-vertical: .2rem;
  --signin-button-padding-horizontal: 1rem;

  --input-background-y: 5px;
  --input-width: 22rem;

  --menu-gap: 1.1rem;

  --button-font-size: 1.1rem;
  --button-padding-vertical: .5rem;
  --button-padding-horizontal: 1rem;

  --article-width: 28rem;

  --modal-content-width: 20%;
}

footer {
  display: none;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0 1rem 0;
}

footer div {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: rgb(var(--topic-color));
}

select {
  font-family: 'Segoe Variable';
  padding: .15rem .3rem;
  border: 1px solid rgb(var(--select-border-color));
  font-size: .9rem;
  box-shadow: 0 1px 3px -2px #9098a9;
  border-radius: .4rem;
  cursor: pointer;
  transition: border-color .2s, box-shadow .2s;
  background: rgb(var(--background-color));
  color: rgb(var(--topic-color));
}

select:focus {
  outline: none;
  border-color: rgba(var(--main-color), .8);
  box-shadow: 0 0 0 2px rgba(var(--main-color), .2);
}

.circle {
  font-size: 1rem !important;
  color: #fff;
  text-align: center;
  background: #000;
  font-family: 'Segoe UI';
}

body {
  background: linear-gradient(
    rgba(var(--white-color), var(--background-opacity)),
    rgba(var(--white-color), var(--background-opacity))
  ), url('yamath-background.jpg');
}

#main-describe {
  user-select: none;
  color: rgba(var(--white-color), .9);
  font-family: 'Segoe Variable';
  width: fit-content;
  margin: 6.5rem auto;
}

h1 {
  display: flex;
  gap: .5rem;
  font-size: var(--yamath-title-font-size);
  letter-spacing: var(--yamath-title-letter-spacing);
  margin-bottom: 1rem;
}

#ya {
  color: rgb(var(--intro-main-color));
  text-shadow: rgba(var(--white-color), .35) 0px 5px 15px;
  animation: changeOpacity 2.5s;
}

@keyframes changeOpacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

#math {
  text-shadow:
    rgba(var(--white-color), .25) 0px 54px 55px,
    rgba(var(--white-color), .12) 0px -12px 30px,
    rgba(var(--white-color), .12) 0px 4px 6px,
    rgba(var(--white-color), .17) 0px 12px 13px,
    rgba(var(--white-color), .09) 0px -3px 5px;
}

h2 {
  font-size: var(--yamath-description-font-size);
  letter-spacing: var(--yamath-description-letter-spacing);
  word-spacing: .3rem;
  text-shadow: rgba(var(--white-color), .3) 0px 0px 3px;
  margin-bottom: 1.5rem;
  animation: yamathDescriptionTranslateY 1s;
}

@keyframes yamathDescriptionTranslateY {
  from { transform: translateY(var(--intro-animation-space)); }
}

#main-labels {
  margin-left: 1.5rem;
  margin-bottom: 2.6rem;
}

.main-label {
  margin-top: .7rem;
  display: flex;
  gap: 1rem;
}

.count {
  color: rgb(var(--intro-main-color));
  font-weight: bold;
  width: 2rem;
  text-align: center;
  font-size: 1.5rem;
  animation: yamathCountTranslateX 1s;
}

@keyframes yamathCountTranslateX {
  from { transform: translateX(calc(-1 * var(--intro-animation-space))); }
}

.count-describe {
  align-self: center;
  width: fit-content;
  font-size: 1.3rem;
  text-shadow: rgba(240, 250, 255, .08) 0px 2px 4px, rgba(240, 250, 255, .2) 0px 2px 16px;
  animation: yamathCountDescribeTranslateX 1s;
}

@keyframes yamathCountDescribeTranslateX {
  from { transform: translateX(var(--intro-animation-space)); }
}

h3 {
  font-size: 1.4rem;
  letter-spacing: var(--yamath-footer-letter-spacing);
}

h3 span {
  display: inline-block;
  color: rgb(var(--intro-main-color));
  font-size: 1.6rem;
  animation: rotateTasksTotal 1.2s;
  animation-delay: 1.5s;
}

@keyframes rotateTasksTotal {
  30% { transform: rotate(15deg); }
  60% { transform: rotate(-15deg); }
  100% { transform: rotate(0); }
}

#about {
  display: flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  width: fit-content;
  align-items: end;
  gap: .8rem;
  padding: .7rem 1rem;
  border-radius: .6rem;
  cursor: pointer;
  transition: background .1s;
  background: rgba(var(--intro-main-color), .8);
  color: rgba(var(--black-color), .9);
  font-size: 1.2rem;
  font-weight: bold;
}

#about:hover {
  background: rgba(var(--intro-main-color), .9);
}

#about i {
  font-size: 1.5rem;
}

img {
  width: 1.5rem;
  height: auto;
}

header {
  user-select: none;
  display: none;
  justify-content: space-between;
  background: rgb(var(--header-background-color));
  padding: var(--header-padding-vertical) var(--header-padding-horizontal);
  box-shadow: var(--header-dropdown-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
  animation: changeOpacity 1s;
}

#logo {
  display: flex;
  width: var(--header-panels-width);
  gap: var(--logo-gap);
  align-items: center;
  font-family: 'Segoe Variable';
  font-weight: bold;
  letter-spacing: var(--logo-letter-spacing);
  font-size: var(--logo-font-size);
  cursor: pointer;
  color: rgb(var(--logo-color));
  transition: color .1s;
}

#logo:hover {
  color: rgba(var(--topic-hover-color), .8);
}

input {
  background: var(--search-icon-url) no-repeat 8px var(--input-background-y), rgb(var(--background-color));
  color: rgb(var(--logo-color));
  background-size: 20px;
  padding: .25rem 2.1rem;
  padding-right: .6rem;
  border: .1rem solid rgb(var(--input-border-color));
  font-size: 1.05rem;
  border-radius: .4rem;
  width: var(--input-width);
  letter-spacing: .03rem;
  font-family: 'Segoe Variable';
}

input:focus {
  border: .1rem solid rgba(var(--main-color), .6);
}

#user-panel {
  display: flex;
  align-items: center;
  justify-content: right;
  width: var(--header-panels-width);
  gap: var(--user-panel-gap);
}

#user-panel button {
  padding: var(--signin-button-padding-vertical) var(--signin-button-padding-horizontal);
  font-size: 1rem;
  border: 2px solid rgba(var(--main-color), .5);
  box-shadow: inset 0 0 2px transparent;
  font-family: 'Segoe Variable';
  font-weight: bold;
  transition: background .1s, color .1s;
  letter-spacing: .05rem;
}

#user-panel button:hover {
  color: rgb(var(--white-color));
  background: rgba(var(--main-color), .8);
}

menu {
  user-select: none;
  margin-top: 1.2rem;
  display: flex;
  gap: var(--menu-gap);
  justify-content: center;
}

menu i {
  color: rgba(var(--topic-hover-color), .75);
  font-size: 1.2rem;
  opacity: .9;
}

button {
  display: flex;
  flex-direction: row;
  gap: .6rem;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  border: .15rem solid #000;
  font-family: 'Segoe Variable';
  font-size: var(--button-font-size);
  letter-spacing: .05rem;
  transition: box-shadow .2s;
  align-items: center;
  border-radius: 6px;
  color: rgb(var(--button-color));
  background: rgba(var(--background-color), .9);
  border: none;
  box-shadow: rgba(var(--black-color), .12) 0px 1px 3px, rgba(var(--black-color), .24) 0px 1px 2px;
}

button:hover, button:focus {
  box-shadow: 0px 0px 0px 3px rgba(var(--main-color), .5);
}

.category-content {
  background: rgb(var(--category-content-background-color));
  color: rgb(var(--category-content-color));
  margin-top: .5rem;
  position: absolute;
  list-style-type: none;
  font-family: 'Segoe Variable';
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  width: 9.3rem;
  box-shadow: var(--header-dropdown-shadow);
  display: none;
  animation: categoryContentSlideX .15s;
  border-radius: .3rem;
  z-index: 10;
}

.category-content li {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1rem;
  border-bottom: .1rem dotted rgb(var(--category-content-border-color));
  cursor: pointer;
  transition: background .1s, color .1s;
}

.new-icon-check {
  font-weight: bold;
  font-size: 1.1rem;
}

.category-content li:last-child {
  border-bottom: none;
}

@keyframes categoryContentSlideX {
  from { opacity: 0; transform: translateY(.7rem); }
  to { opacity: .9; transform: translateY(0); }
}

#topics section {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#topics section span {
  font-family: 'Segoe Variable';
  text-transform: uppercase;
  font-weight: bold;
  animation: titleSlideX .5s;
  display: inline-block;
}

#topics section span.a {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 1rem 1.2rem;
  border-radius: 3rem;
  background: rgba(var(--main-color), .8);
  color: #f0f0f0;
}

@keyframes titleSlideX {
  from { opacity: 0; transform: translateX(.5rem); }
  to { opacity: 1; transform: translateX(0); }
}

#topics section div {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

#topics section article {
  width: var(--article-width);
  flex: 1;
  animation: articleSlideY .5s;
}

@keyframes articleSlideY {
  from { opacity: 0; transform: translateY(1rem); }
  to { opacity: 1; transform: translateY(0); }
}

aside {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
  user-select: none;
}

aside div {
  font-family: 'Segoe Variable';
  letter-spacing: var(--section-span-letter-spacing);
  animation: none;
  font-size: 1.5rem;
  display: block;
  width: fit-content;
  padding: 1rem 1.2rem;
  border-radius: 3rem;
  background: rgba(var(--main-color), .7);
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

aside div:first-child {
  animation: aa .4s;
}

@keyframes aa {
  from { transform: translateX(-1.5rem); }
}

aside div:not(:first-child):not(:last-child) {
  animation: bb .4s;
}

@keyframes bb {
  from { transform: scale(.3); }
}

aside div:last-child {
  animation: cc .4s;
}

@keyframes cc {
  from { transform: translateX(1.5rem); }
}

aside div:not(:first-child) {
  color: rgb(var(--algebra-geometry-color));
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: box-shadow .2s;
}

aside div {
  transition: box-shadow .2s, font-size .2s !important;
}

#topics section article span {
  font-family: 'Segoe Variable';
  letter-spacing: var(--section-span-letter-spacing);
  word-spacing: .6rem;
  font-size: 1.6rem;
  color: rgba(var(--main-color), .9);
  font-weight: bold;
  animation: none;
}

#topics section ul {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

#topics section ul div {
  background: rgb(var(--background-color));
  margin-top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(var(--main-color), .27) 0px 1px 2px 0px, rgba(var(--main-color), .12) 0px 1px 3px 1px;
  gap: .8rem;
  border-radius: 1.2rem;
  padding: 1.2rem 2.5rem;
  padding-right: 1.5rem;
  transition: background .2s;
}

#topics section ul li {
  font-family: 'Open Sans', sans-serif;
  color: rgba(var(--topic-color), .9);
  letter-spacing: .1rem;
  transition: background .1s, box-shadow .1s, transform .1s, color .1s;
  padding: .5rem .8rem;
  border-radius: 1rem;
  cursor: pointer;
  line-height: 1.7rem;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(var(--black-color), .6);
  backdrop-filter: blur(6px);
  z-index: 2;
}

.modal-content {
  user-select: none;
  background: #f8f8f8;
  color: var(--text-color);
  font-family: 'Segoe Variable';
  padding: .6rem .8rem;
  padding-bottom: 0;
  width: var(--modal-content-width);
  box-shadow: rgba(var(--black-color), .16) 0px 3px 6px, rgba(var(--black-color), .23) 0px 3px 6px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  animation: scale .3s;
}

@keyframes scale {
  from { transform: scale(1.1); }
  to { transform: scale(1); }
}

.modal-content div div {
  display: flex;
  justify-content: space-between;
}

.modal-header {
  margin-top: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2rem;
  font-weight: bold;
  opacity: .9;
}

.modal-settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem .5rem;
}

.modal-settings div {
  align-items: center;
}

.modal-settings div span {
  font-size: 1.2rem;
}

.modal-settings div div {
  gap: .7rem;
}

.modal-settings div div i {
  width: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(var(--main-color), .8);
}

@media (hover: hover) {
  .category-content li:hover {
    color: rgb(var(--category-content-item-hover-color));
    font-weight: bold;
    background: rgba(var(--main-color), .3);
    border-radius: .3rem;
  }

  aside div:hover {
    box-shadow: 0px 0px 0px 3px rgba(var(--main-color), .5);
  }

  #topics section ul li:hover {
    background: rgba(var(--main-color), .3);
    color: rgb(var(--topic-hover-color));
    box-shadow: rgba(50, 50, 93, .25) 0px 2px 5px -1px, rgba(var(--black-color), .3) 0px 1px 3px -1px;
    transform: scale(1.02);
  }
}

@media (max-width: 1600px) { :root { --modal-content-width: 25%; } }
@media (max-width: 1400px) { :root { --modal-content-width: 30%; } }
@media (max-width: 1200px) { :root { --modal-content-width: 35%; } }

@media (max-width: 1000px) {
  :root {
    --article-width: 21rem;
    --modal-content-width: 40%;
  }
}

@media (max-width: 800px) {
  :root {
    --yamath-font-size: 5rem;
    --yamath-description-font-size: 1.5rem;
    --input-width: 8rem;
    --article-width: 28rem;
    --modal-content-width: 50%;
  }

  #main-describe {
    margin: 2rem auto;
    padding: 0 1rem;
  }

  #topics section div {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  :root {
    --yamath-title-font-size: 5rem;
    --yamath-title-letter-spacing: .09rem;
    --yamath-description-letter-spacing: .12rem;
    --yamath-footer-letter-spacing: .03rem;
    --logo-letter-spacing: .001rem;
    --section-span-letter-spacing: .06rem;
    --header-padding-horizontal: .5rem;
    --header-panels-width: 5.5rem;
    --user-panel-icon-size: 1.3rem;
    --user-panel-gap: .35rem;
    --signin-button-padding-vertical: .12rem;
    --signin-button-padding-horizontal: .67rem;
    --input-background-y: 6px;
    --input-width: 6.7rem;
    --logo-font-size: 1.1rem;
    --logo-gap: .05rem;
    --menu-gap: .55rem;
    --button-font-size: 1rem;
    --button-padding-vertical: .4rem;
    --button-padding-horizontal: .5rem;
    --article-width: 21rem;
    --modal-content-width: 94%;
  }

  header span {
    font-size: 1.05rem;
  }

  .category-content li {
    gap: .3rem;
    padding: .6rem .8rem;
  }

  .modal-content {
    padding: .6rem 0;
  }

  aside div {
    font-size: 1rem;
  }

  aside div:first-child {
    font-size: 1.3rem;
  }

  #topics section span {
    font-size: 1.4rem !important;
  }
}
