<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Классы — YaMath</title>
  <link rel="stylesheet" href="shared.css">
  <link rel="stylesheet" href="forms.css">
</head>
<body>
  <script type="module" src="forms.js"></script>
  <main>
    <div class="theme">
      <a href="/">
        <i class="icon-circle-arrow-left"></i>
      </a>
    </div>

    <div class="search">
      <input>
    </div>

    <div class="user">
    </div>

    <div class="forms">
      <button id="back"></button>
      <button id="current"></button>
      <button id="forward"></button>
    </div>

    <div class="algebra"></div>
    <div class="geometry"></div>

    <div class="algebra1">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="algebra2">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="geometry1">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="geometry2">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <aside>
      <div class="theme-title"></div>
      <section></section>
    </aside>
  </main>
</body>
</html>
