<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="shared.css">
  <link rel="stylesheet" href="start.css">
</head>
<body>
  <script type="module" src="startpage.js"></script>
  <main>
    <div class="theme">
      <!-- <div class="dropdown-button" onpointerup="openThemeDropdown()">
        <span>тема</span>
        <i class="icon-bars"></i>
      </div>

      <div class="dropdown">
        <ul>
          <li id="light" onpointerup="toggleNightMode(false)">
            <i class="icon-sun"></i>
            <span>светлая</span>
          </li>

          <li id="dark" onpointerup="toggleNightMode(true)">
            <i class="icon-moon"></i>
            <span>темная</span>
          </li>

          <li id="system" onpointerup="toggleNightMode('system')">
            <i class="icon-desktop"></i>
            <span>системная</span>
          </li>
        </ul>
      </div> -->
    </div>

    <div class="search">
      <input>
    </div>

    <div class="user">
      <!-- <div onpointerup="signin()">
        <span>вход</span>
        <i id="signin" class="icon-signin"></i>
      </div> -->
    </div>

    <div class="forms">
      <button id="back"></button>
      <button id="current"></button>
      <button id="forward"></button>
    </div>

    <div class="algebra"></div>
    <div class="geometry"></div>

    <div class="algebra1">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="algebra2">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="geometry1">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <div class="geometry2">
      <div class="theme-title"></div>
      <ul></ul>
    </div>

    <aside>
      <div class="theme-title"></div>
      <section></section>
    </aside>
  </main>
</body>
</html>
