mixin make_themes(themes)
  each theme in themes
    if theme.name
      p
        a(href=theme.href)=theme.name
    else
      br   

doctype html
html
  head
    title #{form} класс
    link(rel='stylesheet' href='shared.css')
    link(rel='stylesheet' href='start.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    header
      <input class='desktop' placeholder='Поиск по теме...                     &#xF002;'>
      <input class='mobile' placeholder='Поиск по теме... &#xF002;'>
      div
        each name in ['back', 'current', 'forward']
          button(id=name)
            a
    main
      .algebra
        .themes
          .integers
            +make_themes(themes.algebra.integers)
          .fractionals
            +make_themes(themes.algebra.fractionals)
      .geometry
        .themes
          .intro
            +make_themes(themes.geometry)
    script(type='module' src='startpage.js')
