doctype html
html
  head
    title 5 класс
    link(rel='stylesheet' href='/start.css')
  body
    main
      .algebra
        .themes
          .integers
            p ряд натуральных чисел
            p разряды натуральных чисел
            p сравнение натуральных чисел
            br
            p сложение натуральных чисел
            p вычитание натуральных чисел
            p умножение. свойства умножения
            p деление. деление с остатком
            p степень числа
            br
            p числовые и буквенные выражения. формулы
            p уравнения
            p комбинаторные задачи
          .fractionals
            p обычные дроби
            p правильные и неправильные дроби. сравнение дробей
            p сложение и вычитание дробей с одинаковыми знаменателями
            p дроби и деление натуральных чисел
            p мешаные числа
            br
            p десятичные дроби
            p сравнение десятичных дробей
            p округление чисел
            p сложение и вычитание десятичных дробей
            p умножение десятичных дробей
            p деление десятичных дробей
            br
            p среднее арифметическое
            p проценты
      .geometry
        p отрезок
        p плоскость. прямая. луч
        p шкала. координатный луч
        br
        p угол. виды углов. измерение углов
        p многоугольники. равные фигуры
        p треугольник
        p прямоугольник
        br
        p площадь. площадь прямоугольника
        p прямоугольный параллелепипед. пирамида
        p объём прямоугольного параллелепипеда
