mixin make_themes(themes)
  each theme in themes
    if !theme.name
      br
    else
      p
        a(href=theme.href)=theme.name

doctype html
html
  head
    title #{form} класс
    link(rel='stylesheet' href='start.css')
  body
    header
      each name in ['back', 'forward']
        button(id=name)
          a
    main
      .algebra
        .themes
          .integers
            +make_themes(themes.algebra.integers)
          .fractionals
            +make_themes(themes.algebra.fractionals)
      .geometry
        .themes
          .intro
            +make_themes(themes.geometry)
    script(type='module' src='startpage.js')
