<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная – YaMath</title>
    <link rel="stylesheet" href="shared.css">
    <link rel="stylesheet" href="start.css">
</head>
<body>
    <main>
        <div class="theme">
            <i class="icon-sun"></i>
        </div>

        <div class="logo">
            <i class="icon-calculator"></i>
            YaMath
            <div>сайт для изучающих математику</div>
        </div>

        <div class="user">
            <i id="signin" class="icon-user"></i>
        </div>

        <div class="search">
            <input placeholder="&#xe903; Поиск">
        </div>

        <ul>
            <li>
                <div class="category-icon">
                    <i class="icon-forms"></i>
                    <div>смотреть по</div>
                </div>
                <div class="category">
                    <a href="forms">классам</a>
                </div>
            </li>

            <li>
                <div class="category-icon">
                    <i class="icon-themes"></i>
                    <div>смотреть по</div>
                </div>
                <div class="category">
                    <a href="themes">темам</a>
                </div>
            </li>

            <li>
                <div class="category-icon">
                    <i class="icon-levels"></i>
                    <div>смотреть по</div>
                </div>
                <div class="category">
                    <a href="levels">уровням</a>
                </div>
            </li>
        </ul>
    </main>
    <script type="module" src="start.js"></script>
</body>
</html>
