doctype html
html
  head
    title #{form} класс
    link(rel='stylesheet' href='shared.css')
    link(rel='stylesheet' href='start.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    script(type='module' src='startpage.js')

    header
      button(onpointerup='enableNightMode()') тест ночного режима
      <input id='desktop' placeholder='Поиск по теме...                   &#xF002;'>
      <input id='mobile' placeholder='Поиск по теме... &#xF002;' onfocus='this.value=this.value' value='123'>
      div
        each name in ['back', 'current', 'forward']
          button(id=name)
    main
