doctype html
html
  head
    title 5 класс
    link(rel='stylesheet' href='/start.css')
  body
    main
      .algebra
        .themes
          .integers
            each theme in themes.algebra.integers
              if !theme.name
                br
              else
                p
                  a(href=theme.href)=theme.name
          .fractionals
            each theme in themes.algebra.fractionals
              if !theme.name
                br
              else
                p
                  a(href=theme.href)=theme.name
      .geometry
        each theme in themes.geometry
          if !theme.name
            br
          else
            p
              a(href=theme.href)=theme.name
